*venv
*.terraform
*.tfstate
*.tfstate.backup
*config_secure.py
*__pycache__
*.mypy_cache
*instance/*.csv
flask_app/run_app.sh
flask_app_instabrand/node_modules
flask_app_instabrand/app/config_secure.py
*__init__.pyc
*.csv
spark/ProcessTopics/.idea/*
spark/ProcessTopics/project/project/*
spark/ProcessTopics/project/target/*
spark/ProcessTopics/target/*
flask_app_instabrand/instance/*
spark/run_spark.sh
