{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12">

      {% for m in media %}

          {% if size == 'big'%}
              <p>
                <img src="{{m.photo_link}}" alt="{{m.photo_tags}}">
                <br>
                {{m.photo_comments}}
                <br>
                <small><a href="{{m.photo_link}}">view on instagram</a></small>
              </p>

          {% else %}

              <div class="col-sm-6 col-md-2">
                <img src="{{m.photo_link}}" alt="{{m.photo_tags}}">
                </a>
              </div>
          {% endif %}

      {% endfor %}
    </div>

</div>

{% endblock %}
